::ng-deep .grid-container {
  width: 80vw;
  height: 20px;
  align-items: center;
  align-self: center;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}

.border{
  align-content: center;
  align-self: center;
  align-items: center;
  height: 300px;
}

.mat-h1{
  text-align: center;
  font-size: 34px;
  font-weight: 700;
  line-height: 32px;
  font-family: Roboto, sans-serif;
  color: rgb(8, 2, 54);
  letter-spacing: normal;
  margin: 0 0 16px;
}

.card {
  width: 190px;
  height: 254px;
  background: #3405a3;
  color: aliceblue;
  border-radius: 25px;
  box-shadow: 1px 5px 60px 0px #100a886b;
 }
 
 .card .card-border-top {
  width: 60%;
  height: 3%;
  background: #6b64f3;
  margin: auto;
  border-radius: 0px 0px 15px 15px;
 }
 
 .card span {
  font-weight: 600;
  color: white;
  text-align: center;
  display: block;
  padding-top: 10px;
  font-size: 16px;
 }
 
 .card .job {
  font-weight: 400;
  color: white;
  display: block;
  text-align: center;
  padding-top: 3px;
  font-size: 12px;
 }
 
 .card .img {
  width: 70px;
  height: 80px;
  background: #6b64f3;
  border-radius: 15px;
  margin: auto;
  margin-top: 25px;
 }
 
 .card button {
  padding: 8px 25px;
  display: block;
  margin: auto;
  border-radius: 8px;
  border: none;
  margin-top: 30px;
  background: #6b64f3;
  color: white;
  font-weight: 600;
 }
 
 .card button:hover {
  background: #534bf3;
 }


.test {
  background: #534bf3;
  padding: 40px;
  text-align: center;
  vertical-align:middle;
  max-width: 250px;
  width: 130px;
  font-size: 70px;
  font-weight: bold;
  color: aliceblue;
}

.test1 {
  background: #f3564b;
  padding: 40px;
  text-align: center;
  vertical-align:middle;
  max-width: 250px;
  width: 130px;
  font-size: 70px;
  font-weight: bold;
  color: aliceblue;
}

.test2 {
  background: #1cc475;
  padding: 40px;
  text-align: center;
  vertical-align:middle;
  max-width: 250px;
  width: 130px;
  font-size: 70px;
  font-weight: bold;
  color: aliceblue;
}

.test3 {
  background: #182653;
  padding: 40px;
  text-align: center;
  vertical-align:middle;
  max-width: 250px;
  width: 130px;
  font-size: 70px;
  font-weight: bold;
  color: aliceblue;
}

