  <div class="border">
    <div class="grid-container">
      <h1 class="mat-h1">Dashboard</h1>
      <mat-grid-list cols="4" rowHeight="190px">
        <!-- <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
          <mat-card class="dashboard-card">
            <mat-card-header>
              <mat-card-title>
                {{card.title}}
                <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu" xPosition="before">
                  <button mat-menu-item>Expand</button>
                  <button mat-menu-item>Remove</button>
                </mat-menu>
              </mat-card-title>
            </mat-card-header>
            <mat-card-content class="dashboard-card-content">
              <div>Card Content Here</div>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile> -->
        <mat-grid-tile [colspan]="( cardLayout | async )?.chart?.cols" [rowspan]="( cardLayout | async )?.chart?.rows">
            <annual-chart></annual-chart>
        </mat-grid-tile>

        <!-- <mat-grid-tile [colspan]="( cardLayout | async )?.chart?.cols" [rowspan]="( cardLayout | async )?.chart?.rows">
          <annual-chart-2></annual-chart-2>
      </mat-grid-tile> -->
      <mat-grid-tile style="margin-left: 60px;">
        <div style="align-items: center;display: flex;flex-direction: column;justify-content: center;padding: 20px;">
          <div style="text-align: center;font-size: 15px;font-weight: 800;">Quantidade de produtos no estoque</div>
        <div class="test" style="margin-top: 20px;">
            {{produto.toString()}}
        </div>
        </div>
        
      </mat-grid-tile>

      <mat-grid-tile style="margin-left: 60px;">
        <div style="align-items: center;display: flex;flex-direction: column;justify-content: center;padding: 20px;">
          <div style="text-align: center;font-size: 15px;font-weight: 800;">Pedidos rejeitados</div>
        <div class="test1" style="margin-top: 20px;">
            {{this.closed.length}}
        </div>
        </div>
        
      </mat-grid-tile>

      <mat-grid-tile style="margin-left: 60px;">
        <div style="align-items: center;display: flex;flex-direction: column;justify-content: center;padding: 20px;">
          <div style="text-align: center;font-size: 15px;font-weight: 800;">Pedidos concluidos</div>
        <div class="test2" style="margin-top: 20px;">
            {{this.finished.length}}
        </div>
        </div>
        
      </mat-grid-tile>

      <mat-grid-tile style="margin-left: 60px;">
        <div style="align-items: center;display: flex;flex-direction: column;justify-content: center;padding: 20px;">
          <div style="text-align: center;font-size: 15px;font-weight: 800;">Pedidos em andamento</div>
        <div class="test3" style="margin-top: 20px;">
            {{this.open.length}}
        </div>
        </div>
        
      </mat-grid-tile>
        <!-- <mat-grid-tile [colspan]="( cardLayout | async )?.chart?.cols" [rowspan]="( cardLayout | async )?.chart?.rows">
          <annual-chart></annual-chart>
      </mat-grid-tile> -->
      <!-- <mat-grid-tile [colspan]="( cardLayout | async )?.chart?.cols" [rowspan]="( cardLayout | async )?.chart?.rows">
        <annual-chart></annual-chart>
    </mat-grid-tile> -->
      </mat-grid-list>
    </div>
  </div>

