/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.bg{
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("assets/bg.png");
}

input{
    border-radius: 30px;
    border: 1px solid rgb(18, 23, 62);
    padding: 5px;
}