<jw-modal id="ativar-usuario" class="modal1">
  <div class="box">
    <div class="form-flex">
      <div class="row33">
        <!-- Form -->
        <div class="col-md-12" style="height: 20vh;display: flex;flex-direction: column;justify-content: space-around;">
          <h1>Lista de usuários não ativos</h1>
          <div>

            <div class="scrollit" style="margin-top: 1px;width: 500px;height: 400px;margin-right: 1vw;">
              <div class="container">
                <ul class="responsive-table">
                  <li class="table-header">
                    <div class="col col-2">Usuário</div>
                    <div class="col col-3">Email</div>
                    <div class="col col-3"></div>
                  </li>
                  <li class="table-row" *ngFor="let p of inactive_users">
                    <div class="col col-2" data-label="Customer Name">{{ p.user_name }}</div>
                    <div class="col col-3" data-label="Amount">{{ p.email }}</div>
                    <div class="col col-3"> 
                      <button type="submit" class="custom-btn btn-1" (click)="activateUser(p.email)">Ativar</button>
                    </div>
                    <!-- <div class="col col-4" data-label="Payment Status">{{ p.register_date }}</div> -->
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div style="display: flex;flex-direction: row;margin-bottom: 10px;justify-content: space-between;">
            <!-- <button type="submit" class="custom-btn btn-1" (click)="novoProduto(produto)">Adicionar</button> -->
            <button type="submit" class="custom-btn btn-1" (click)="closeModal('ativar-usuario')">Voltar</button>
          </div>
        </div>
      </div>
    </div>
  </div>


</jw-modal>


<div class="border">
  <div class="grid-container">
    <h1 class="mat-h1">Usuários</h1>
    <div style="margin-left: 50px;">
      <!-- <button type="submit" style="width: 200px;margin-bottom: 40px;" class="custom-btn btn-1"
          (click)="openModal('novo-produto')">Cadastrar novo Produto</button> -->

    </div>
    <div style="margin-left: 50px;">
      <button type="submit" style="width: 250px;margin-bottom: 40px;" class="custom-btn btn-1"
        (click)="openModal('ativar-usuario')">Ativar usuário</button>

    </div>

  </div>
</div>

<div class="scrollit" style="margin-top: 100px;">
  <div class="container">
    <ul class="responsive-table">
      <li class="table-header">
        <div class="col col-1">Imagem</div>
        <div class="col col-2">Usuário</div>
        <div class="col col-3">Email</div>
        <div class="col col-4">Online</div>
        <!-- <div class="col col-4">Data de registro</div> -->
        <div class="col col-6">Remover</div>
      </li>
      <li class="table-row" *ngFor="let p of active_users">
        <div class="col col-1" data-label="Job Id">
          <div style="display: flex;flex-direction: row;">
            <div>
              <img src={{p.image}} height="50px" width="50px">
            </div>
          </div>
        </div>
        <div class="col col-2" data-label="Customer Name">{{ p.user_name }}</div>
        <div class="col col-3" data-label="Amount">{{ p.email }}</div>
        <div class="col col-4" data-label="Payment Status">{{p.is_logged?"Sim":"Não"}}</div>
        <!-- <div class="col col-4" data-label="Payment Status">{{ p.register_date }}</div> -->
       
        <div class="col col-6" data-label="Remove">
          <button type="button" class="custom-btn btn-3" (click)="inactivateUser(p.email)">
            Desativar usuário
          </button>
        </div>
      </li>
    </ul>
  </div>
</div>