<!-- <mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a *ngFor="let item of menuItems" mat-list-item [routerLink]="'/'+item"> {{item | titlecase}} </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        (click)="onChangeItem()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Bem-vindo ao sistema de gerenciamento de depósito</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container> -->
<div class="float-container">
  <div>
    <div  id="nav-bar" class="float-child">
      <input (click)="toggle()" id="nav-toggle" type="checkbox"/>
      <div id="nav-header"><a id="nav-title">  Menu</a>
        <label for="nav-toggle"><span id="nav-toggle-burger"></span></label>
        <hr/>
      </div>
      <div id="nav-content">
        <a class="nav-button" *ngFor="let item of menuItems" mat-list-item [routerLink]="'/'+item"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon><span> {{item | titlecase}} </span></a>
        <!-- <hr/>
        <div class="nav-button"><i class="fas fa-gem"></i><span>Codepen Pro</span></div> -->
        <div id="nav-content-highlight"></div>
      </div>
      <input id="nav-footer-toggle" type="checkbox"/>
      <div id="nav-footer" style="height: 60px;">
        <div id="nav-footer-heading" style="display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-around;">
          <div>
            <div style="display: flex;flex-direction: row;justify-content: space-around;align-items: center;margin-right: 10px;">
              <div id="nav-footer-avatar"><img src="https://gravatar.com/avatar/4474ca42d303761c2901fa819c4f2547"/></div>
              <div id="nav-footer-titlebox">
                <a id="nav-footer-title" href="https://codepen.io/uahnbu/pens/public" target="_blank">{{user.user_name}}</a>
                <span id="nav-footer-subtitle">{{user.is_adm==false?"Comum":"Admin"}}</span>
              </div>
            </div>
            
            <label for="nav-footer-toggle"><i class="fas fa-caret-up"></i></label>
          </div>
          <div>
            <button type="submit" class="custom-btn" (click)="logoff()">Sair</button>
          </div>
         
        </div>
        
       
      </div>
    </div>

   
    
</div>
<div class="header" [class.suspended]="test"
[class.active]="!test">
  Bem-vindo(a) ao Sistema <b>Controle de estoque</b>!
</div>

<div #el class="float-child"
  [class.suspended]="test"
  [class.active]="!test"
  style="margin-left: 450px;">
      
        <router-outlet></router-outlet>
      
  <div class="footer"
  [class.suspended]="test"
[class.active]="!test">
    <b>Controle de Estoque</b> - © 2023 Todos os direitos reservados
  </div>
  
</div>

